:root {
  --color-light-1 : hsl(210, 46%, 95%);
  --color-light-2 : hsl(212, 23%, 69%);
  --color-dark-1 : hsl(214, 17%, 51%);
  --color-dark-2 : hsl(217, 19%, 35%);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.3rem;
  font-family: "Manrope";
  background : var(--color-light-1);

}
.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.article {
  background-color: #fff;
  min-height: 35rem;
  max-width: 92rem;
  width : 95%;
  border-radius: 1.5rem;
  overflow : hidden;

  display: flex;
}
.article__img img {
  width: 35rem;
  height: 100%;
}
.article__text {
}
.article__text-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 83%;
  margin: 0 auto;
}

.article__author {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article__author img {
  height: 5rem;
  border-radius: 50%;
}
.article__author__name {
  margin-right: auto;
  margin-left: 2rem;
}
.article__share {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: var(--color-light-1);

  display: flex;
  align-items: center;
  justify-content: center;
}
.article__share img {
  width: 1.5rem;
  height: 1.5rem;
}
/* components */
[class^="heading"] {
  font-weight: 700;
  color: var(--color-dark-2);
}
.heading--primary {
  font-size: 2.5rem;
}
.heading--secondary {
  font-size:2rem;
}
.p {
  font-size: 1.8rem;
  color: var(--color-light-2);
  line-height: 1.5;
}


@media screen and (max-width : 53.125em){
  .article {
    flex-direction: column;
    justify-content: space-between;
    margin : 4rem auto;
  }
  .article__img img {
    width: 100%;
  }
  .article__text {
    margin: 2rem auto;
    min-height: 47rem;
  }
  .article__text-container {
    min-height: 47rem;
  }
}

@media screen and (max-width : 25em){
  html {
    font-size: 60%;
  }
  .heading--secondary {
    font-size: 1.7rem;
  }
  .article__author__name {
    margin-left: 1rem;
  }
}

.attribution { font-size: 1.3rem; text-align: center; margin: 2rem; }
.attribution a { color: hsl(228, 45%, 44%); }

